In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('C:\\YELP\\Round12')

#### YELP Positive and Negative Review Sample Generation
- created DB of Yelp Review data (see YELP_Review_DB.ipynb)
- query DB of Yelp Reviews to get 50,000 negative ratings (1 star) and 50,000 positive ratings (5 star)

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('reviews_database.db')

In [5]:
c = conn.cursor()

In [6]:
#verify name of table is 'table'
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('table',)]

In [7]:
#get columns names within table and data types
c.execute("PRAGMA table_info('table');")
print(c.fetchall())

[(0, 'index', 'BIGINT', 0, None, 0), (1, 'business_id', 'TEXT', 0, None, 0), (2, 'cool', 'BIGINT', 0, None, 0), (3, 'date', 'DATETIME', 0, None, 0), (4, 'funny', 'BIGINT', 0, None, 0), (5, 'review_id', 'TEXT', 0, None, 0), (6, 'stars', 'BIGINT', 0, None, 0), (7, 'text', 'TEXT', 0, None, 0), (8, 'useful', 'BIGINT', 0, None, 0), (9, 'user_id', 'TEXT', 0, None, 0)]

In [8]:
#query review db
reviews_5 = pd.read_sql_query("SELECT text, stars  FROM 'table' WHERE stars = 5 ORDER BY Random() LIMIT 50000;", conn)
reviews_1 = pd.read_sql_query("SELECT text, stars  FROM 'table' WHERE stars = 1 ORDER BY Random() LIMIT 50000;", conn)

In [9]:
reviews = reviews_1.append(reviews_5)

In [12]:
reviews.shape

(100000, 2)

In [13]:
#write to csv file
reviews.to_csv('reviews1_5.csv')